:root{
  --backgrounf-image:linear-gradient(120deg,#0f0e1d,rgb(202, 200, 198)); 
}
*{

  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}

img{
  max-width: 100%;
}
body{
  font-family: "Manrope",sans-serif;
}
a{
  font-family: inherit;
  text-decoration: none;
  color: #fff;
}
.homepage{
  background:url("./showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
}
.homepage .overlay {
background-image  : var(--background-image);
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
color: #fff;;

}
.homepage .overlay h1 {
  text-transform: uppercase;
  font-size: 96px;

}
.homepage .overlay p{
  font-size: 36px;
}
.homepage .overlay ul{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.homepage .overlay ul li{
  margin: 0 20px;
}
.homepage .overlay ul li a{
  font-size: 46px; 
}